# Python specific
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
*.venv
*.egg
*.egg-info/
dist/
build/
*.log

# Flask specific
instance/
*.sqlite3

# Environment variables
.env
.env.pgAdmin


# macOS specific
.DS_Store

# Docker specific
docker-compose.override.yml
*.pid

# Logs
logs/
*.log

# Byte-compiled / optimized / DLL files
*.pyc
*.pyo
*.pyd

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
*.cover
.hypothesis/
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints

# VS Code
.vscode/

# Static files
staticfiles/
media/

# SSH Keys and security files
*.pem
*.key
*.pub
*.crt
*.cer

# Pulumi
.pulumi/
Pulumi.*.yaml

# Other
*.swp
*.swo
*.bak
*.tmp
*.old
*.orig
*.rej
*.sublime-workspace
*.sublime-project
*.idea/